out/**
src/**
fuzz-tests/**
tests/**
node_modules/**
/linguist-proposal/**
webpack.config.js
tsconfig.json
.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
ucode/**
u1905/**
umpad/**
umpad/*
linguist-proposal/**
payload_processor_ucode/**
ucode_gotchas.md
.claude/**
bun.lock
!dist/*.js
!icons/**
!README.md
**/*.md
**/*.py
**/*.uc
*.txt
*.js
dist/*.map
